<h1><%= User.find_by(id: params[:id]).f_name %> <%= User.find_by(id: params[:id]).l_name%></h1>

<h3><%= User.find_by(id: params[:id]).role %></h3>

<div class="container">
  
  <div class="works marks">
  </div>
</div>